*{
    padding:0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Nunito', sans-serif;
    color: white;
}
body{
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }
#btn-showNav{
    color: rgb(255, 255, 255);
    font-size: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
}
#btn-closeNav{
    color: white;
    font-size: 50px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1;
    display: none;
    z-index: 12;
}
#btn-goUp{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    z-index: 100;
    font-size: 50px;
    opacity: 0;
    transition: all .4s;
}
nav{
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    animation: showNav;
    animation-duration: .5s;
}
nav > .leftBar{
    min-height: 100vh;
    max-width: 60%;
    background-color: crimson;
    float: left;
    padding: 0 15px;
}
nav > .rightBar{
    max-width: 40%;
    float: left;
    margin: 15px;
}
nav > .rightBar i{
    font-size: 50px;;
}
nav > div> div{
    text-align: right;
}
nav > div > ul{
    list-style-type: none;
    animation: textOpacity;
    animation-duration: .5s;
}
nav > div > ul > li{ 
    padding: 15px 0;
    border-bottom: 1px dashed whitesmoke;
}
nav > div > ul > li > i{
    width: 50px;
    font-size: 35px;
    margin-right: 15px;
}
.basic-info{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin-top: 25px;
    text-align: left;
    animation: textOpacity;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
.basic-info > h5{
    margin-bottom: 15px;
    font-weight: bolder;
}
.basic-info > ul{
    list-style-type: none;
    text-align: left;
}
.basic-info > ul > li{
    padding: 5px;
    font-size: 12px;
}
.basic-info > ul > li >i{
    font-size: 15px;
    width: 15px;
    margin-right: 5px;
}
.bgTile{
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dashed white;
    width: 100vw;
    transition: height 0.4s;
    position: fixed;
    z-index: 10;
    animation: headerAnimation;
    animation-duration: 1s;
    height: 20vh;
}
.bgTile img{
    width: 8vh;
    height: 8vh;
    position: absolute;
    left: 15px;
    top: 5px;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    animation: textOpacity;
    animation-duration: 1s;
}
.bgTile h1{
    font-family: 'Satisfy', cursive;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bolder;
    transition: font-size .4s;
    animation: textOpacity;
    animation-duration: 1s;
}
#homepage{
    height: 100vh;
    width: 100vw;
}
#homepage > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 100%;
}
#homepage > div > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay fieldset{
    border: none;
    margin-top: 25px;
}
.overlay input{
    height: 50px;
    width: 75vw;
    float: left;
    border: 1px dashed crimson;
}
.overlay h4{
    margin:25px;
    text-align: center;
}
.overlay i{
    font-size: 50px;
    height: 43px;
    color: white;
    background-color: crimson;
    float: left;
    padding: 5px;
}
.overlay h1{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    font-family: 'Satisfy', cursive;

}

#services{
    background-color: rgb(241, 247, 253);
    width: 100vw;
    min-height: 100vh;
    border-top: 1px dashed crimson;
}
#services > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    
}
#services > div > h1{
    position: relative;
    right: left;
    top: 15px;
    right: 90px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: crimson;
    border: 1px dashed white;
    padding: 5px 15px;
    margin: 25px 0;
}
.servSub{
    width: 100%;
    min-height: 400px;
    color: black;
    position: relative;
}
.servSub img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.servSub h1{
    position: absolute;
    top: 15px;
    right: 0px;
    background-color: crimson;
    border: 1px dashed white;
    padding: 5px 10px;
    font-size: 20px;
}
 .servSub p{
    position: absolute;
    bottom: 60px;
    padding: 15px;
    background-color: white;
    color: brown;
    border-top: 1px dashed crimson;
    border-bottom: 1px dashed crimson;
    border-right: 1px dashed crimson;
    width: 60%;
}

#contact{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    background-color: rgb(255, 255, 255);
    
}
#contact > div{
    height: 100%;
    padding: 35px 0;
}
#contact > div >div{
    float: right;
    margin-top: -30px;
    margin-right: 15px;
}
#contact i{
    color: crimson;
    font-size: 35px;
}
#contact form{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    padding: 50px 15px;
}
#contact input,textarea{
    padding: 15px;
    outline: none;
    border: 1px dashed crimson;
    background-color: rgb(241, 247, 253);
    color: brown;
}
#contact label{
    margin: 5px;
    color: brown;
    font-weight: bolder;
}
#contact button{
    background-color: crimson;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    padding: 15px;
    outline: none;
    border: none;
}
#contact h1{
    position: absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: crimson;
    border: 1px dashed white;
    padding: 5px 10px;
}

#about{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: bisque;
}
#about > div{
    width: 94%;
    margin: auto;
}
#about h1{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: crimson;
    border: 1px dashed white;
    padding: 5px 15px;
}
#about h2{
    font-family: 'Satisfy', cursive;
    color: brown;
    font-weight: bolder;
}
#about p{
    color: brown;
    margin-bottom: 25px;
}
#about iframe{
    border: 1px dashed crimson;
}

footer{
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    font-size: 12px;
}


#gallery2{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
#gallery2 h1{
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: crimson;
    border: 1px dashed white;
    padding: 5px 25px;
    z-index: 1;
}
.cakes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.cakes > div{
    width: 48%;
    height: 200px;
    position: relative;
    border: 1px solid crimson;
    margin: 5px 0;
}
.cakes > div > img{
    width: 100%;
    height: 100%
}
.cakes > div > div > button{
    padding: 5px 8px;
    background-color: crimson;
    border: none;
    margin: 3px;
    cursor: pointer;
}
.cakes > div > div > button:hover{
    opacity: .8;
}
.cakes > div > .btnGallery{
    position: absolute;
    bottom: 0;

}
#gallery2 > button{
    padding: 5px 15px;
    background-color: crimson;
    border: none;
    margin: 3px;
    cursor: pointer;
}
#gallery2 > button:hover{
    opacity: .8;
}
   
#cake2, #btn-hide{
    display: none;
}


@media only screen and (max-width: 1024px) and (min-width: 668px) {
    .overlay h1{
        font-size: 70px;
    }
    .overlay h4{
        font-size: 30px;
    }
    #about{
        min-height: 100vh;
        width: 75vw;
        margin: auto;
        background-color: transparent;
        }
    #about > div{
        margin: auto;
        }
    #about h1{
        font-size: 45px;
    }
    #about h2{
        font-size: 25px;
    }
    #about p{
        margin-bottom: 25px;
        font-size: 20px;
    }
    #services{
        background-color: bisque;
    }
    #services > div{
        width: 75vw;
        margin:auto;
        position: relative;
        
    }
     #services > div > h1{
        position: relative;
        right: 110px;
        font-size: 45px;
        color: rgb(255, 255, 255);
        background-color: crimson;
        border: 1px dashed white;
        padding: 5px 15px;
        margin: 15px;
    }
    .servSub{
        border: 1px dashed crimson;
    }
    .servSub h1{
        font-size: 30px;
        top: 45px;
    }
     .servSub p{
        font-size: 20px;
    }
    #contact > div{
        width: 75%;
        margin: auto;
        margin-top: 35px;
    }
    #contact label{
        margin: 15px;
    }
    #contact button{
        margin-top: 25px;
    }
    #contact h1{
        position: relative;
        display: inline;
        font-size: 45px;
        padding: 5px 10px;
    }
    #contact i{
        font-size: 50px;
    }
    footer{
        height: 75px;
        font-size: 20px;
    }
    #gallery2 h1{
        position: absolute;
        display: inline;
        left: 0;
        font-size: 45px;
        padding: 5px 10px;
    }
    .cakes > div{
        width: 45%;
        height: 300px;
        position: relative;
        border: 1px solid crimson;
        margin: 5px 0;
    }
    .cakes > div > img{
        width: 100%;
        height: 100%;
    }
    .cakes > div > div > button{
        padding: 10px 15px;
        background-color: crimson;
        border: none;
        margin: 3px;
    }
    .cakes > div > .btnGallery{
        position: absolute;
        bottom: 0;
    }
    .cakes > div > .btnGallery > span{
        color: crimson;
    }
    #btn-seeAll{
        padding: 15px 30px;
        background-color: crimson;
        border: none;
        margin: 3px;
    }

}

@media only screen and  (min-width: 1025px) {
    #btn-goUp:hover{
        cursor: pointer;
        opacity: .9;
    }
    #btn-showNav{
        display: none;
    }
   .bgTile{
        display: none;
    }
    .bgTile img{
        display: block;
        position: absolute;
        right: 0;
        z-index: 1000;
    }
    #btn-closeNav{
        display: none;
    }
    nav{
        width: 20vw;
        position: fixed;
        display: block;
        float: left;
        animation: none;
    }
    nav > .leftBar{
        max-width: 100%;
        background-color: crimson;
        padding: 0px;
    }
    nav > .rightBar{
        display: none;
    }
    nav .leftBar li{
        padding: 15px 15px;
    }
    .basic-info{
        width: 80%;
        margin: 25px auto;
      }
    #menus li:hover{
        cursor: pointer;
        background-color: rgba(250, 250, 250, 0.3);
    }
    #homepage{
        width: 80vw;
        float: right;
    }
    .overlay fieldset{
        width: 75%
    }
    .overlay input{
        width: 90%;
    }
    .overlay h4{
        font-size: 30px;
        padding: 0 150px;
    }
    .overlay i{
        font-size: 50px;
        height: 43px;
        color: white;
        background-color: crimson;
        float: left;
        padding: 5px;
    }
    .overlay i:hover{
        cursor: pointer;
        opacity: .8;
    }
    .overlay h1{
        font-size: 60px;
        padding: 0 250px;
        text-align: center;
    }

     #services{
        width: 80vw;
        margin-left: 40vh;
    }
    #services > div{
        width: 60%;
    }
    #services > div > h1{
        right: 200px;
        padding: 5px 35px;
    }
    .servSub{
        margin: 25px;
    }
     .servSub p{
        border: 1px dashed crimson;
    }

    #about{
        width: 80vw;
        float: right;
    }
    #about > div{
        width: 75%;
        margin: auto;
    }
    #about h1{
        position: absolute;
        padding: 5px 75px;
    }
    #about h2{
        font-family: 'Satisfy', cursive;
        font-size: 45px;
    }
    #about p{
        color: brown;
    }
    #contact{
        width: 80vw;
        float: right;
        background-color: bisque;
        padding-top: 35px;
    }
    #contact > div{
        height: 75%;
        margin: auto;
        position: relative;
    }
    #contact > div >div{
        position: absolute;
        right: 23%;
        margin-top: -30px;
        margin-right: 15px;
    }
    #contact i{
        color: crimson;
        font-size: 35px;
        margin: 5px;
    }
    #contact i:hover{
        cursor: pointer;
        opacity: .7; 
    }
    #contact form{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 3% auto;
        text-align: left;
        padding: 50px 15px;
    }
    #contact input,textarea{
        padding: 15px;
        outline: none;
        border: 1px dashed crimson;
        background-color: rgb(241, 247, 253);
        color: brown;
    }
    #contact label{
        margin: 5px;
        color: brown;
        font-weight: bolder;
    }
    #contact button{
        background-color: crimson;
        margin-top: 15px;
        color: rgb(255, 255, 255);
        padding: 15px;
        outline: none;
        border: none;
    }
     #contact button:hover{
        cursor: pointer;
        opacity: .8;
    }
    #contact h1{
        position: absolute;
        left: 25%;
        font-size: 25px;
        color: rgb(255, 255, 255);
        background-color: crimson;
        border: 1px dashed white;
        padding: 5px 35px;
    }

    #gallery2{
        width: 60vw;
        float: right;
        padding: 0 10%;
        justify-content: flex-end;
        background-color: bisque;
    }
    #gallery2 h1{
        position: absolute;
        top: 3%;
        left: 5vw;
        padding: 5px 35px;
        z-index: 1000;
    }
    .cakes{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .cakes > div{
        width: 48%;
        height: 300px;
        position: relative;
        border: 1px solid crimson;
        margin: 5px 0;
    }

}

@media only screen and (orientation: landscape) {
    #about{
        padding-top: 35px;
        background-color: white
    }
     #about h1{
        position: absolute;
        top: 15px;
        right: 0;
    }
    .overlay h1{
        margin-top: 80px;
    }
 

}


@keyframes 
headerAnimation{
    0%{
        height: 100vh;
    }
    100%{
       height: 20vh;
}
}
@keyframes 
textOpacity{
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
}
}
@keyframes 
showNav{
    0%{
        width: 0vw;
    }
    100%{
        width: 100vw;
}
}
